<div class="relative -my-24 mx-auto">
  <div
    class="
      absolute
      transform-gpu
      skew-x-3
      rotate-3
      bg-gradient-to-r
      from-yellow-400
      via-pink-500
      to-indigo-500
      left-0
      right-0
      animate-pulse-slow
      overflow-hidden
    "
    style="top: 150px; bottom: 150px; z-index: -1"
  ></div>

  <div
    class="
      flex flex-col
      bg-white
      rounded-lg
      filter
      drop-shadow-md
      shadow-xl
      overflow-hidden
      h-full
      w-11/12
      sm:w-4/5
      mx-auto
      my-6
    "
  >
    <div class="flex-shrink-0 flex items-center bg-gray-900 py-2 px-4">
      <div
        class="
          hidden
          sm:block
          flex-shrink-0
          mr-2
          h-4
          w-4
          bg-gray-600
          rounded-full
        "
      ></div>
      <div
        class="
          hidden
          sm:block
          flex-shrink-0
          mr-2
          h-4
          w-4
          bg-gray-600
          rounded-full
        "
      ></div>
      <div
        class="
          hidden
          sm:block
          flex-shrink-0
          mr-2
          h-4
          w-4
          bg-gray-600
          rounded-full
        "
      ></div>
      <div
        class="
          flex-grow flex
          items-center
          justify-center
          sm:ml-6 sm:mr-24
          py-2
          px-4
          bg-gray-600
          rounded-full
          leading-5
          text-sm text-gray-200 text-center
          truncate
        "
      >
        <div class="truncate">
          <span class="font-medium text-gray-100">Interactive Demo</span> —
          app.sponsaurus.com/wells-weekly
        </div>
      </div>
    </div>
    <iframe
      class=""
      style="height: 600px"
      src="https://app.sponsaurus.com/wells-weekly/embed"
    >
    </iframe>
  </div>
</div>
<!-- 
<div
  class="
    bg-gray-50
    rounded-3xl
    filter
    drop-shadow-lg
    shadow-3xl
    mx-auto
    //w-11/12
    pb-12
  "
>
  <div
    class="
      absolute
      transform-gpu
      skew-x-6
      rotate-6
      bg-gradient-to-r
      from-yellow-400
      via-red-500
      to-pink-500
      left-100
      -inset-x-60
      animate-pulse
    "
    style="top: 400px; bottom: 200px; z-index: -1"
  ></div>
  <div
    class="
      max-w-7xl
      mx-auto
      py-12
      px-4
      sm:py-12 sm:px-6
      lg:px-8
      border-b-8 border-yellow-400
    "
  >
    <div class="text-center">
      <h2
        class="text-base font-semibold text-indigo-600 tracking-wide uppercase"
      >
        Live Demo
      </h2>
      <p
        class="
          mt-1
          text-4xl
          font-extrabold
          text-gray-900
          sm:text-5xl sm:tracking-tight
          lg:text-6xl
        "
      >
        <%= data.landing.demoText %>
      </p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
        <%= data.landing.demoCaptionText %>
      </p>
    </div>
  </div>

  <div
    class="
      flex flex-col
      bg-white
      rounded-lg
      shadow-xl
      overflow-hidden
      h-full
      w-full
      sm:w-4/5
      mx-auto
      my-6
    "
  >
    <div class="flex-shrink-0 flex items-center bg-gray-900 py-2 px-4">
      <div
        class="
          hidden
          sm:block
          flex-shrink-0
          mr-2
          h-4
          w-4
          bg-gray-600
          rounded-full
        "
      ></div>
      <div
        class="
          hidden
          sm:block
          flex-shrink-0
          mr-2
          h-4
          w-4
          bg-gray-600
          rounded-full
        "
      ></div>
      <div
        class="
          hidden
          sm:block
          flex-shrink-0
          mr-2
          h-4
          w-4
          bg-gray-600
          rounded-full
        "
      ></div>
      <div
        class="
          flex-grow flex
          items-center
          justify-center
          sm:ml-6 sm:mr-24
          py-2
          px-4
          bg-gray-600
          rounded-full
          leading-5
          text-sm text-gray-200 text-center
          truncate
        "
      >
        <div class="truncate">
          <span class="font-medium text-gray-100">Interactive Demo</span> —
          app.sponsaurus.com/wells-weekly
        </div>
      </div>
    </div>
    <iframe
      class=""
      style="height: 600px"
      src="https://app.sponsaurus.com/wells-weekly/embed"
    >
    </iframe>
  </div>
</div> -->
