---
title: "About"
---

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <p
        class="
          mt-1
          text-4xl
          font-extrabold
          text-gray-900
          sm:text-5xl sm:tracking-tight
          lg:text-6xl
        "
      >
        Hi, I'm Harrison 👋
      </p>
      <div class="my-10 flex flex-row justify-center">
        <img
          class="
            max-h-72
            rounded-lg
            filter
            drop-shadow-lg
            shadow-2xl
            ring-1 ring-black ring-opacity-5
          "
          src="images/authors/harrison.jpg"
        />
      </div>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
        I'm building Sponsaurus to help newsletter creators manage & book ad
        space in their newsletters, without the hassle.
      </p>
      <p class="max-w-xl mt-5 mx-auto text-left text-base text-gray-900">
        Here's the quick story -
      </p>
      <p class="max-w-xl mt-5 mx-auto text-left text-base text-gray-900">
        After reading heaps of email newsletters, I started noticing that lots
        of them were just using plain spreadsheets to manage all their
        advertising bookings.
      </p>
      <p class="max-w-xl mt-5 mx-auto text-left text-base text-gray-900">
        I didn't think much of it at first, but it kept gnawing at me. After all
        the work creators do to produce their content, I figured that they
        deserved better tools. Why should creators have to build a ghetto
        advertising system, when they just want to produce great content?
      </p>
      <p class="max-w-xl mt-5 mx-auto text-left text-base text-gray-900">
        I set out in mid-2021 to build a better alternative, and here we are.
      </p>
      <p class="max-w-xl mt-5 mx-auto text-left text-base text-gray-900">
        Thanks for joining me on the journey!
      </p>
    </div>
  </div>
</div>
