---
title: Changelog
---

<div class="relative flex flex-col min-h-screen bg-white">
  <div>
    <div class="w-4/5 mt-24 mx-auto">
      <div class="flex flex-col items-center mb-12">
        <h1 class="text-4xl font-bold text-center">Changelog</h1>
        <div class="mt-2 text-gray-500">
          All new updates and improvements to Splitbee Analytics
        </div>
        <div class="mt-2">
          <a
            href="https://twitter.com/splitbee"
            class="text-blue-500 hover:underline"
            >Follow us on Twitter for updates</a
          >
        </div>
      </div>
      <div class="relative divide-y">
        <div class="block pt-12 mb-12 sm:flex">
          <div class="pt-8 text-gray-700 md:w-1/4">
            <a class="sticky top-6" href="/changelog/new-user-journey-view"
              >26 July 2021</a
            >
          </div>
          <div class="flex-1 max-w-full prose prose-yellow">
            <div>
              <figure>
                <div class="wrapper relative rounded-lg overflow-hidden">
                  <div style="padding-bottom: 54.779%"></div>
                  <img
                    loading="lazy"
                    src="https://cdn.sanity.io/images/t1p203eo/production/91b2acc933835e46616e21d965b889a217c97b01-1946x1066.png"
                    alt="Screenshot of our new user view"
                    style="margin: 0px"
                    class="
                      absolute
                      inset-0
                      object-cover object-center
                      w-full
                      h-full
                      loaded
                    "
                  />
                </div>
              </figure>
              <h2 id="our-all-new-user-view">Our all-new user view</h2>
              <p>
                Understanding a user journey should be as easy as possible. This
                is why we reworked our user view with great new possibilities.
                It's a beautiful redesign with support for
                <strong>entry &amp; exit points</strong>,
                <strong>notes</strong> and
                <strong>many other improvements.</strong>
              </p>
              <p>
                You can read about all changes in our
                <a
                  class="inline-flex items-center"
                  href="https://splitbee.io/blog/new-user-journey-view"
                  >announcement post<svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    width="20"
                    height="20"
                  >
                    <path
                      d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"
                    ></path>
                    <path
                      d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"
                    ></path></svg></a
                >.
              </p>
              <p>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
